body{
    background-color: burlywood;
}
h1{
    /*background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;*/
    color: black;

}
.nav{
    margin-right: 5%;
    margin-left: 5%;
    background-color: darkcyan;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.nav-link{
    color: burlywood;
}

.d-block{
    object-fit: cover;
    object-position: left;
    width:200px;
    height:500px;
    border: solid 1px #CCC
}

.nav .nav-item a:hover{
    color: blueviolet;
}