body{
    background-image: ("");
}
h1{
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkgray;
    color: burlywood;   
}
.nav{
    margin-right: 5%;
    margin-left: 5%;
    background-color: black;
    
}

.nav-link{
    color: burlywood;
}